<style>
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');
</style>

body {
  background-color:Lavender;
}
h1{
color:Indigo;
}
h2{
color:Fuchsia;
}
h3{
color: DarkViolet;
}
h4{
color:DarkOrchid;
}
p {
color: Black;
font-family: 'Inconsolata', sans-serif;
}
h1,
h2,
h3, 
h4,
p,
}
strong{
  color:black;
}
ul {
  color:grey;
}
img {
  max-width:100%
    height:auto;
  
  .nav {
  width: 100%;
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
  .nav li{
    display:inline;
  }
  .nav a{
    display:inline-block
      color:dark grey;
    font-family: Inconsolata;
    padding: 10px;
  }
  .index h1{
    text-align center;
  }
