@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');


body {
  background-color:LavenderBlush;
	 font-family:Inconsolata;
}
h1{
color:Indigo;
	
}
strong{
  color:black;
}
ul li {
  color: DarkGrey
}

h1,h2,h3,h4,p {

    color: Grey;
    font-family:Inconsolata;
}
img {
  max-width:100%;
    height:auto;
}
 embed{
	padding: 30px 120px 30px 650px;
} 
 .nav {
  width: 100%;
  border: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.nav li{
    display:inline;
  }
  .nav a{
    display:inline-block;
      color: DarkGrey;
    font-family: Inconsolata;
    padding: 10px;
  }
  .index h1{
    text-align: center;
  }
